$blueOne: #96c6d4;
$blueTwo : #68c4e7;
$blueThree : #3dbbec;
$blueFour : #2986be;
$blueFive : #144a8c;
$dkBlue : #3b4b52;
$ltGrey : #ebeced;
$grey : #cccccc;
$dkGrey : #333740;
$black : #000006;


$max : "max-width:";
@function max($pxSize) {
	@return #{$max} ($pxSize)+px;
}
$min : "min-width:";
@function min($pxSize) {
	@return #{$min} ($pxSize)+px; 
}

@mixin clearfix {
	&::after {
		clear: both;
		display: table;
		content: '';
	}
}
@mixin trans {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
@mixin transX {
	left: 50%;
	transform: translateX(-50%);
}
@mixin transY {
	top: 50%;
	transform: translateY(-50%);
}
@mixin transClear {
	left: auto;
	top: auto;
	transform: translate(0%, 0%);
}
@mixin transXClear {
	left: Auto;
	transform: translate(0%, -50%);
}
@mixin transYClear {
	top: auto;
	transform: translate(-50%, 0%);
}
@mixin before {
	content: '';
	display: block;
	position: absolute;
}
@mixin gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#98c6d5+0,3ebdec+50,134b8c+100 */
	background: #98c6d5; /* Old browsers */
	background: -moz-linear-gradient(left,  #98c6d5 0%, #3ebdec 50%, #134b8c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #98c6d5 0%,#3ebdec 50%,#134b8c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #98c6d5 0%,#3ebdec 50%,#134b8c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98c6d5', endColorstr='#134b8c',GradientType=1 ); /* IE6-9 */
}
@mixin soundBarGrad {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#939598+50,3dbbec+51 */
	background: #939598; /* Old browsers */
	background: -moz-linear-gradient(top,  #333740 50%, #96c6d4 51%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #333740 50%,#96c6d4 51%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #333740 50%,#96c6d4 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333740', endColorstr='#96c6d4',GradientType=0 ); /* IE6-9 */
}
$proxima : "proxima-nova", helvetica, sans-serif;
$azo : "azo-sans-web", helvetica, sans-serif;
/* SETUP z-index */
$zIndex: 16;

@for $i from 0 through $zIndex {
  .zi-#{$i} {
    z-index: $i * 1;
  }
}
/* END z-index */
/*/////////////////////*/
/* genric styles */
/*/////////////////////*/
* {
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
}
body {
	margin: 0;
	font-family: $proxima;
	height: 100vh;
	&.scroll {
		.scrollToNav {
			opacity: 0;
		}
	}
} 
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
h1, h2, h3, h4, h5 {
	padding: 0;
	margin: 0; 
}
h1 {
	letter-spacing: 3px;
}
h2 {
	letter-spacing: 2px;
}
h3, h4, h5 {
	letter-spacing: 1px;
}
p {
	@media (min(1600)) {
		font-size: 1rem;
	}
	margin: 0;
	font-size: .75rem;
	line-height: 1.65;
}
a {
	text-decoration: none;
}
.date {
	@media (min(1600)) {
		font-size: 2rem;
	}
	font-size: 1.5rem;
	font-weight: 600;
	position: relative;
	text-transform: uppercase;
	padding-bottom: .5rem;
	line-height: 1;
	color: $blueOne;
	@media (max(768)) {
		font-size: 1.25rem;
	}
}
.dateLarge {
	font-size: 300px;
	font-weight: 800;
	color: $ltGrey;
	line-height: 1;
}
.largeText {
    font-size: 52px;
    @media (max(1280)) {
    	font-size: 30px;
    }
	span {
		display: block;
		line-height: 1;
	}
}
.tal {
	text-align: left;
}
.tar {
	text-align: right;
}
.tac {
	text-align: center;
}
.ttu {
	text-transform: uppercase;
}
.oh {
	overflow: hidden;
}
.hideMe {
	display: none !important;
}
/* NAVIGATION LEVEL ARROW */
.navigationLevel {
	position: relative;
	&::before {
		@include before;
		width: 10px;
		height: 10px;
		background: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/scrollToNavBlue.svg') no-repeat;
		@include transY;
		right: 1rem; 
		@media (max(768)) {
			background: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/epxandNoBorder.svg') no-repeat;
			width: 20px;
			height: 20px;
		}
	}
}
.miniTimelineSound {
	&.active {
		.miniTimelineSoundBars::before {
			animation: none;
		}
	}
}
/* TIMELINE SOUND BAR STYLES */
.miniTimelineSoundBars {
	width: 20px;
	height: 4vh;
	display: block;
	overflow: hidden;
	position: relative;
	z-index: 1;
	@media (max(480)) {
		width: 15px;
	}
	&::before, &::after {
		@include before;
	}
	&::before {
		@include transX;
		top: 0;
		width: 95%;
		height: 200%;
		@include soundBarGrad;
		animation: soundColorChange 4s ease infinite;
	}
	&::after {
		@include before;
		@include trans;
		width: 105%;
		height: 105%;
		background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/soundBarMask.svg');
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center center;
	}
}
@keyframes soundColorChange {
	0% {
		top: -20%;
	}
	5% {
		top: -80%;
	}
	10% {
		top: -50%;
	}
	15% {
		top: -80%;
	}
	20% {
		top: -30%;
	}
	25% {
		top: -80%;
	}
	30% {
		top: -60%;
	}
	35% {
		top: -40%;
	}
	40% {
		top: -90%;
	}
	45% {
		top: -40%;
	}
	50% {
		top: 0%;
	}
	55% {
		top: -30%;
	}
	60% {
		top: -80%;
	}
	65% {
		top: -25%;
	}
	70% {
		top: -50%;
	}
	75% {
		top: -75%;
	}
	80% {
		top: -30%;
	}
	85% {
		top: -75%;
	}
	90% {
		top: -40%;
	}
	95% {
		top: -60%;
	}
	100% {
		top: -20%;
	}
}
/* end */
/* ADDS EXPAND + AND HOVER FUNCT */
.expand {
	position: relative;
	&::before {
		@media (min(1600)) {
			width: 45px !important;
			height: 45px !important;
		}
		@include before;
		@include trans;
		left: 50%;
		width: 35px!important;
		height: 35px!important;
		background: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/expandImage.svg') no-repeat;
		transition: transform .5s ease;
		z-index: 2;
	}
	&::after {
		@include before;
		width: 100%;
		height: 100%;
		@include gradient;
		opacity: 0;
		position: absolute;
		@include trans;
		pointer-events: none;
		z-index: 0;
		transition: opacity .5s ease;
	}
	@media (min(768)) {	
		&:hover {
			&::before {
				transform: translate(-50%, -50%)rotate(90deg);
			}
		}
	}
	&.active {
		&::after {
			opacity: .5;
		}
	}
}

/* START BACKGROUND IMAGES FOR EACH HERO */
.container > .sectionIntro {
	@media (min(1300)) {
		-webkit-background-size: cover;
		background-size: cover;
	}
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
}
#NetherlandstoTexas .sectionIntro {
	background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/NetherlandsToTexas/Hero.jpg');
	-webkit-background-size: contain;
	background-size: contain;
	@media (max(768)) {
		background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/NetherlandsToTexas/HeroMobile.jpg');
	}
}
#TheThesis .sectionIntro {
	background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/TheThesis/Hero.jpg');
	-webkit-background-size: contain;
	background-size: contain;
	@media (max(768)) {
		background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/TheThesis/Hero_Mobile.jpg');
	}
}
#CharlesdeGanahl .sectionIntro {
	background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/CharlesdeGanahl/Hero.jpg');
	-webkit-background-size: contain;
	background-size: contain;
	@media (max(768)) {
		background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/CharlesdeGanahl/Hero_Mobile.jpg');
	}
}
#ABusinessisBorn .sectionIntro {
	background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/ABusinessIsBorn/Hero.jpg');
	-webkit-background-size: contain;
	background-size: contain;
	@media (max(768)) {
		background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/ABusinessIsBorn/Hero_Mobile.jpg');
	}
}
// STRUGGLE
#DeadBroke .sectionIntro {
	background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/DeadBroke/Hero.jpg');
	-webkit-background-size: contain;
	background-size: contain;
	@media (max(768)) {
		background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/DeadBroke/Hero_Mobile.jpg');
	}
}
#NewEndeavors .sectionIntro {
	background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/NewEndeavors/Hero.jpg');
	-webkit-background-size: contain;
	background-size: contain;
	@media (max(768)) {
		background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/NewEndeavors/Hero_Mobile.jpg');
	}
}
#SterlingVarner .sectionIntro {
	background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/SterlingVarner/Hero.jpg');
	-webkit-background-size: contain;
	background-size: contain;
	@media (max(768)) {
		background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/SterlingVarner/Hero_Mobile.jpg');
	}
}
#TheHomecoming .sectionIntro {
	background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/TheHomecoming/Hero.jpg');
	-webkit-background-size: contain;
	background-size: contain;
	@media (max(768)) {
		background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/TheHomecoming/Hero_Mobile.jpg');
	}
}
//QUEST
#AggresiveExploration .sectionIntro {
	background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/AggresiveExploration/Hero.jpg');
	-webkit-background-size: contain;
	background-size: contain;
	background-position: left bottom;
	@media (max(768)) {
		background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/AggresiveExploration/Hero_Mobile.jpg');
		-webkit-background-size: cover;
		background-size: cover;
	}
}
#CharlesKoch .sectionIntro {
	background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/CharlesKoch/Hero.jpg');
	-webkit-background-size: contain;
	background-size: contain;
	background-position: left bottom;
	@media (max(768)) {
		background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/CharlesKoch/Hero_Mobile.jpg');
	}
}
#ASolidLiquidIdea .sectionIntro {
	background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/ASolidLiquidIdea/Hero.jpg');
	-webkit-background-size: contain;
	background-size: contain;
	background-position: left bottom;
	@media (max(768)) {
		background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/ASolidLiquidIdea/Hero_Mobile.jpg');
	}
}
#ANewHome .sectionIntro {
	background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/ANewHome/Hero.jpg');
	-webkit-background-size: contain;
	background-size: contain;
	background-position: left bottom;
	@media (max(768)) {
		background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/ANewHome/Hero_Mobile.jpg');
	}
}
@keyframes maskIn {
	from {
		-webkit-mask-position: 0% 0%;
		opacity: 0;
	} to {
		-webkit-mask-position: 100% 0%;
		opacity: 1;
	}
}
#content {
	opacity: 0;
	&.fireAnimation {
		opacity: 1;
		-webkit-mask: url('../img/Hero_Mask.png') no-repeat;
		-webkit-mask-size: 1700% 100%;
		animation: maskIn 1s steps(16) 0s forwards;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
	}
	&.animationComplete {
		opacity: 1;
	}
}
/* END BACKGROUND IMAGES FOR HERO*/

/* START LOADER */
#wrapper {
	height: 100vh;
	width: 100%;
	background-color: transparent;
	position: fixed;
	opacity: 1;
	@include trans;
	z-index: 1100;
	pointer-events: none;
}
#load {
	height: 100vh;
	width: 100%;
	background-color: #fff;
	position: fixed;
	opacity: 1;
	animation: loader .25s forwards;
	@include trans;
	z-index: 100;
	div {
	    width: auto;
	    transform: translate(-50%, -50%);
	    top: 50%;
	    left: 50%;
	    position: absolute;
	    @include clearfix;
	}
	span {
		height: 5px;
		width: 5px;
		float: left;
		margin-left: 5px;
		border-radius: 50%;
		background-color: $blueOne;
		position: relative;
		animation: upDownLoader .5s cubic-bezier(0, 0, 0, 0) infinite;
		&:first-child {
			margin-left: 0;
		}
		&:nth-child(1) {
			-webkit-animation-delay: 0.0s;
			-o-animation-delay: 0.0s;
			animation-delay: 0.0s;
		}
		&:nth-child(2) {
			-webkit-animation-delay: 0.1s;
			-o-animation-delay: 0.1s;
			animation-delay: 0.1s;
		}
		&:nth-child(3) {
			-webkit-animation-delay: 0.15s;
			-o-animation-delay: 0.15s;
			animation-delay: 0.15s;
		}
		&:nth-child(4) {
			-webkit-animation-delay: 0.2s;
			-o-animation-delay: 0.2s;
			animation-delay: 0.2s;
		}
		&:nth-child(5) {
			-webkit-animation-delay: 0.25s;
			-o-animation-delay: 0.25s;
			animation-delay: 0.25s;
		}
	}
	p {
		position: relative;
		width: 100%;
		text-align: center;
		color: $dkGrey;
		padding-top: 2rem;
	}
}
@keyframes upDownLoader {
	0% {
		bottom: 0;
	}
	50% {
		bottom: 10px;
	}
	100% {
		bottom: 0;
	}
}
@keyframes laoder {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg)translate(-50%, -50%);
	}
	99% {
		transform: rotate(360deg)translate(-50%, -50%);
	}
	100% {
		transform: rotate(0deg)translate(-50%, -50%);
	}
}
/* end */