/* SETUP z-index */
.zi-0 {
  z-index: 0; }

.zi-1 {
  z-index: 1; }

.zi-2 {
  z-index: 2; }

.zi-3 {
  z-index: 3; }

.zi-4 {
  z-index: 4; }

.zi-5 {
  z-index: 5; }

.zi-6 {
  z-index: 6; }

.zi-7 {
  z-index: 7; }

.zi-8 {
  z-index: 8; }

.zi-9 {
  z-index: 9; }

.zi-10 {
  z-index: 10; }

.zi-11 {
  z-index: 11; }

.zi-12 {
  z-index: 12; }

.zi-13 {
  z-index: 13; }

.zi-14 {
  z-index: 14; }

.zi-15 {
  z-index: 15; }

.zi-16 {
  z-index: 16; }

/* END z-index */
/*/////////////////////*/
/* genric styles */
/*/////////////////////*/
* {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important; }

body {
  margin: 0;
  font-family: "proxima-nova", helvetica, sans-serif;
  height: 100vh;
  color: #333740; }
  body.scroll .scrollToNav {
    opacity: 0; }
  body.scroll .nextSection, body.scroll .prevSection {
    opacity: 1;
    bottom: calc(6.25vh + 2rem); }

*::-moz-selection {
  background-color: #96c6d4;
  color: white; }

*::selection {
  background-color: #96c6d4;
  color: white; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0; }
  h1:empty, h2:empty, h3:empty, h4:empty, h5:empty {
    display: none; }

h1 {
  letter-spacing: 3px; }

h2 {
  letter-spacing: 2px; }

h3, h4, h5 {
  letter-spacing: 1px; }

p {
  margin: 0;
  font-size: .9rem;
  line-height: 1.65; }
  @media (min-width: 1600px) {
    p {
      font-size: 1rem; } }
  @media (max-width: 1300px) {
    p {
      font-size: .75rem;
      line-height: 1.35; } }
  @media (max-width: 600px) {
    p {
      font-size: .65rem;
      line-height: 1.75; } }

_:-ms-input-placeholder, p {
  margin: 0;
  font-size: .85rem;
  line-height: 1.65; }
  @media (min-width: 1600px) {
    _:-ms-input-placeholder, p {
      font-size: .9rem; } }
  @media (max-width: 1300px) {
    _:-ms-input-placeholder, p {
      font-size: .7rem;
      line-height: 1.35; } }
  @media (max-width: 600px) {
    _:-ms-input-placeholder, p {
      font-size: .6rem;
      line-height: 1.75; } }

a {
  text-decoration: none; }

.date {
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
  padding-bottom: .5rem;
  line-height: 1;
  color: #96c6d4; }
  @media (min-width: 1600px) {
    .date {
      font-size: 2rem; } }
  @media (max-width: 768px) {
    .date {
      font-size: 1.25rem; } }

.dateLarge {
  font-size: 300px;
  font-weight: 800;
  color: #ebeced;
  line-height: 1; }

.largeText {
  font-size: 52px; }
  @media (max-width: 1400px) {
    .largeText {
      font-size: 30px; } }
  .largeText span {
    display: block;
    line-height: 1; }

.tal {
  text-align: left; }

.tar {
  text-align: right; }

.tac {
  text-align: center; }

.ttu {
  text-transform: uppercase; }

.oh {
  overflow: hidden; }

.hideMe {
  display: none !important; }

/* NAVIGATION LEVEL ARROW */
.navigationLevel {
  position: relative; }
  .navigationLevel::before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/scrollToNavBlue.svg") no-repeat;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 1rem; }
    @media (max-width: 768px) {
      .navigationLevel::before {
        background: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/epxandNoBorder.svg") no-repeat;
        width: 20px;
        height: 20px; } }

.miniTimelineSound.active .miniTimelineSoundBars::before {
  -webkit-animation: none;
          animation: none; }

/* TIMELINE SOUND BAR STYLES */
.miniTimelineSoundBars {
  width: 20px;
  height: 4vh;
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 1; }
  @media (max-width: 480px) {
    .miniTimelineSoundBars {
      width: 15px; } }
  .miniTimelineSoundBars::before, .miniTimelineSoundBars::after {
    content: '';
    display: block;
    position: absolute; }
  .miniTimelineSoundBars::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 0;
    width: 95%;
    height: 200%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#939598+50,3dbbec+51 */
    background: #939598;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #333740 50%, #96c6d4 51%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #333740), color-stop(51%, #96c6d4));
    background: linear-gradient(to bottom, #333740 50%, #96c6d4 51%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333740', endColorstr='#96c6d4',GradientType=0 );
    /* IE6-9 */
    -webkit-animation: soundColorChange 4s ease infinite;
            animation: soundColorChange 4s ease infinite; }
  .miniTimelineSoundBars::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 105%;
    height: 105%;
    background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/soundBarMask.svg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center; }

@-webkit-keyframes soundColorChange {
  0% {
    top: -20%; }

  5% {
    top: -80%; }

  10% {
    top: -50%; }

  15% {
    top: -80%; }

  20% {
    top: -30%; }

  25% {
    top: -80%; }

  30% {
    top: -60%; }

  35% {
    top: -40%; }

  40% {
    top: -90%; }

  45% {
    top: -40%; }

  50% {
    top: 0%; }

  55% {
    top: -30%; }

  60% {
    top: -80%; }

  65% {
    top: -25%; }

  70% {
    top: -50%; }

  75% {
    top: -75%; }

  80% {
    top: -30%; }

  85% {
    top: -75%; }

  90% {
    top: -40%; }

  95% {
    top: -60%; }

  100% {
    top: -20%; } }

@keyframes soundColorChange {
  0% {
    top: -20%; }

  5% {
    top: -80%; }

  10% {
    top: -50%; }

  15% {
    top: -80%; }

  20% {
    top: -30%; }

  25% {
    top: -80%; }

  30% {
    top: -60%; }

  35% {
    top: -40%; }

  40% {
    top: -90%; }

  45% {
    top: -40%; }

  50% {
    top: 0%; }

  55% {
    top: -30%; }

  60% {
    top: -80%; }

  65% {
    top: -25%; }

  70% {
    top: -50%; }

  75% {
    top: -75%; }

  80% {
    top: -30%; }

  85% {
    top: -75%; }

  90% {
    top: -40%; }

  95% {
    top: -60%; }

  100% {
    top: -20%; } }
/* end */
/* ADDS EXPAND + AND HOVER FUNCT */
.expand {
  position: relative; }
  .expand::before {
    filter: drop-shadow(0 0 11px black);
    -webkit-filter: drop-shadow(0 0 11px black);
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    width: 35px !important;
    height: 35px !important;
    background: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/expandImage.svg") no-repeat;
    -webkit-transition: -webkit-transform .5s ease;
            transition: transform .5s ease;
    z-index: 2; }
    @media (min-width: 1600px) {
      .expand::before {
        width: 45px !important;
        height: 45px !important; } }
  .expand::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#98c6d5+0,3ebdec+50,134b8c+100 */
    background: #98c6d5;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #98c6d5 0%, #3ebdec 50%, #134b8c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#98c6d5), color-stop(50%, #3ebdec), to(#134b8c));
    background: linear-gradient(to right, #98c6d5 0%, #3ebdec 50%, #134b8c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98c6d5', endColorstr='#134b8c',GradientType=1 );
    /* IE6-9 */
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 0;
    -webkit-transition: opacity .5s ease;
            transition: opacity .5s ease; }
  @media (min-width: 768px) {
    .expand:hover::before {
      -webkit-transform: translate(-50%, -50%) rotate(90deg);
          -ms-transform: translate(-50%, -50%) rotate(90deg);
              transform: translate(-50%, -50%) rotate(90deg); } }
  .expand.active::after {
    opacity: .5; }

/* START BACKGROUND IMAGES FOR EACH HERO */
.container > .sectionIntro {
  -webkit-background-size: cover cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: top left; }
  @media (min-width: 1300px) {
    .container > .sectionIntro {
      -webkit-background-size: cover;
      background-size: cover; } }

#NetherlandstoTexas .sectionIntro {
  background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/NetherlandsToTexas/Hero.jpg");
  -webkit-background-size: contain;
  background-size: contain; }
  @media (max-width: 768px) {
    #NetherlandstoTexas .sectionIntro {
      background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/NetherlandsToTexas/HeroMobile.jpg"); } }
  @media (max-width: 600px) {
    #NetherlandstoTexas .sectionIntro {
      -webkit-background-size: cover;
      background-size: cover; } }

#TheThesis .sectionIntro {
  background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/TheThesis/Hero.jpg");
  -webkit-background-size: cover;
  background-size: cover; }
  @media (max-width: 768px) {
    #TheThesis .sectionIntro {
      background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/TheThesis/Hero_Mobile.jpg");
      -webkit-background-size: contain;
      background-size: contain; } }
  @media (max-width: 600px) {
    #TheThesis .sectionIntro {
      -webkit-background-size: cover;
      background-size: cover; } }

#CharlesdeGanahl .sectionIntro {
  background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/CharlesdeGanahl/Hero.jpg");
  -webkit-background-size: contain;
  background-size: contain; }
  @media (max-width: 768px) {
    #CharlesdeGanahl .sectionIntro {
      background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/CharlesdeGanahl/Hero_Mobile.jpg");
      -webkit-background-size: cover;
      background-size: cover; } }
  @media (max-width: 600px) {
    #CharlesdeGanahl .sectionIntro {
      -webkit-background-size: cover;
      background-size: cover; } }

#ABusinessisBorn .sectionIntro {
  background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/ABusinessIsBorn/Hero.jpg");
  -webkit-background-size: contain;
  background-size: contain; }
  @media (max-width: 768px) {
    #ABusinessisBorn .sectionIntro {
      background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/ABusinessIsBorn/Mobile_Hero.jpg");
      -webkit-background-size: cover;
      background-size: cover; } }
  @media (max-width: 600px) {
    #ABusinessisBorn .sectionIntro {
      -webkit-background-size: cover;
      background-size: cover; } }

#DeadBroke .sectionIntro {
  background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/DeadBroke/Hero.jpg");
  -webkit-background-size: contain;
  background-size: contain; }
  @media (max-width: 768px) {
    #DeadBroke .sectionIntro {
      background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/DeadBroke/Mobile_Hero.jpg");
      -webkit-background-size: contain;
      background-size: contain; } }
  @media (max-width: 600px) {
    #DeadBroke .sectionIntro {
      -webkit-background-size: cover;
      background-size: cover; } }

#NewEndeavors .sectionIntro {
  background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/NewEndeavors/Hero.jpg");
  -webkit-background-size: contain;
  background-size: contain; }
  @media (max-width: 768px) {
    #NewEndeavors .sectionIntro {
      background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/NewEndeavors/Mobile_Hero.jpg"); } }
  @media (max-width: 600px) {
    #NewEndeavors .sectionIntro {
      -webkit-background-size: cover;
      background-size: cover; } }

#SterlingVarner .sectionIntro {
  background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/SterlingVarner/Hero.jpg");
  -webkit-background-size: cover;
  background-size: cover; }
  @media (max-width: 768px) {
    #SterlingVarner .sectionIntro {
      background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/SterlingVarner/Mobile_Hero.jpg"); } }
  @media (max-width: 600px) {
    #SterlingVarner .sectionIntro {
      -webkit-background-size: cover;
      background-size: cover; } }

#TheHomecoming .sectionIntro {
  background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/TheHomecoming/Hero.jpg");
  -webkit-background-size: contain;
  background-size: contain; }
  @media (max-width: 768px) {
    #TheHomecoming .sectionIntro {
      background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/TheHomecoming/Mobile_Hero.jpg");
      -webkit-background-size: cover;
      background-size: cover; } }
  @media (max-width: 600px) {
    #TheHomecoming .sectionIntro {
      -webkit-background-size: cover;
      background-size: cover; } }

#AggresiveExploration .sectionIntro {
  background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/AggresiveExploration/Hero.jpg");
  -webkit-background-size: contain;
  background-size: contain;
  background-position: left bottom; }
  @media (max-width: 768px) {
    #AggresiveExploration .sectionIntro {
      background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/AggresiveExploration/Mobile_Hero.jpg");
      -webkit-background-size: cover;
      background-size: cover; } }
  @media (max-width: 600px) {
    #AggresiveExploration .sectionIntro {
      -webkit-background-size: cover;
      background-size: cover; } }

#CharlesKoch .sectionIntro {
  background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/CharlesKoch/Hero.jpg");
  -webkit-background-size: contain;
  background-size: contain;
  background-position: left bottom; }
  @media (max-width: 768px) {
    #CharlesKoch .sectionIntro {
      background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/CharlesKoch/Mobile_Hero.jpg"); } }
  @media (max-width: 600px) {
    #CharlesKoch .sectionIntro {
      -webkit-background-size: cover;
      background-size: cover; } }

#ASolidGasLiquidsIdea .sectionIntro {
  background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/ASolidGasLiquidsIdea/Hero.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: left bottom; }
  @media (max-width: 768px) {
    #ASolidGasLiquidsIdea .sectionIntro {
      background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/ASolidGasLiquidsIdea/Mobile_Hero.jpg"); } }
  @media (max-width: 600px) {
    #ASolidGasLiquidsIdea .sectionIntro {
      -webkit-background-size: cover;
      background-size: cover; } }

#ANewFoundation .sectionIntro {
  background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/ANewFoundation/Hero.jpg");
  -webkit-background-size: contain;
  background-size: contain;
  background-position: left bottom; }
  @media (max-width: 768px) {
    #ANewFoundation .sectionIntro {
      background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/ANewFoundation/Mobile_Hero.jpg");
      -webkit-background-size: cover;
      background-size: cover; } }
  @media (max-width: 600px) {
    #ANewFoundation .sectionIntro {
      -webkit-background-size: cover;
      background-size: cover; } }

#PaperPowerhouse .sectionIntro {
  background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/PaperPowerhouse/hero.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: left bottom; }
  @media (max-width: 768px) {
    #PaperPowerhouse .sectionIntro {
      background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/PaperPowerhouse/Mobile_Hero.jpg"); } }

#YouGetWhatYouGive .sectionIntro {
  background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/YouGetWhatYouGive/hero.jpg");
  -webkit-background-size: contain;
  background-size: contain;
  background-position: left top; }
  @media (max-width: 768px) {
    #YouGetWhatYouGive .sectionIntro {
      background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/YouGetWhatYouGive/Mobile_Hero.jpg");
      -webkit-background-size: cover;
      background-size: cover; } }
  @media (max-width: 600px) {
    #YouGetWhatYouGive .sectionIntro {
      -webkit-background-size: cover;
      background-size: cover; } }

#DavidKoch .sectionIntro {
  background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/DavidKoch/hero.jpg");
  -webkit-background-size: contain;
  background-size: contain;
  background-position: left bottom; }
  @media (max-width: 768px) {
    #DavidKoch .sectionIntro {
      background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/DavidKoch/Mobile_Hero.jpg");
      -webkit-background-size: cover;
      background-size: cover; } }
  @media (max-width: 600px) {
    #DavidKoch .sectionIntro {
      -webkit-background-size: cover;
      background-size: cover; } }

#JoeMoeller .sectionIntro {
  background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/JoeMoeller/hero.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: left top; }
  @media (max-width: 768px) {
    #JoeMoeller .sectionIntro {
      background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/JoeMoeller/Mobile_Hero.jpg"); } }

#LessIsMore .sectionIntro {
  background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/LessIsMore/hero.jpg");
  -webkit-background-size: contain;
  background-size: contain;
  background-position: left bottom; }
  @media (max-width: 768px) {
    #LessIsMore .sectionIntro {
      background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/LessIsMore/Mobile_Hero.jpg");
      -webkit-background-size: cover;
      background-size: cover; } }
  @media (max-width: 600px) {
    #LessIsMore .sectionIntro {
      -webkit-background-size: cover;
      background-size: cover; } }

#LoveConnection .sectionIntro {
  background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/LoveConnection/hero.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: left bottom; }
  @media (max-width: 768px) {
    #LoveConnection .sectionIntro {
      background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/LoveConnection/Mobile_Hero.jpg"); } }

#DaveRobertson .sectionIntro {
  background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/DaveRobertson/hero.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: left bottom; }
  @media (max-width: 768px) {
    #DaveRobertson .sectionIntro {
      background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/DaveRobertson/Mobile_Hero.jpg"); } }

#WhatsNext .sectionIntro {
  background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/WhatsNext/hero.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: left bottom; }
  @media (max-width: 768px) {
    #WhatsNext .sectionIntro {
      background-image: url("http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/WhatsNext/Mobile_Hero.jpg");
      -webkit-background-size: cover;
      background-size: cover; } }
  @media (max-width: 600px) {
    #WhatsNext .sectionIntro {
      -webkit-background-size: cover;
      background-size: cover; } }

@-webkit-keyframes maskIn {
  from {
    -webkit-mask-position: 0% 0%;
    opacity: 0; }

  to {
    -webkit-mask-position: 100% 0%;
    opacity: 1; } }

@keyframes maskIn {
  from {
    -webkit-mask-position: 0% 0%;
    opacity: 0; }

  to {
    -webkit-mask-position: 100% 0%;
    opacity: 1; } }
#content {
  opacity: 0; }
  #content.fireAnimation {
    opacity: 1;
    -webkit-mask: url("../img/Hero_Mask.png") no-repeat;
    -webkit-mask-size: 1700% 100%;
    -webkit-animation: maskIn 1s steps(16) 0s forwards;
            animation: maskIn 1s steps(16) 0s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  #content.animationComplete {
    opacity: 1; }

/* END BACKGROUND IMAGES FOR HERO*/
/* START LOADER */
#wrapper {
  height: 100vh;
  width: 100%;
  background-color: transparent;
  position: fixed;
  opacity: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1100;
  pointer-events: none; }

#load {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  position: fixed;
  opacity: 1;
  -webkit-animation: loader .25s forwards;
          animation: loader .25s forwards;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100; }
  #load div {
    width: auto;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute; }
    #load div::after {
      clear: both;
      display: table;
      content: ''; }
  #load span {
    height: 5px;
    width: 5px;
    float: left;
    margin-left: 5px;
    border-radius: 50%;
    background-color: #96c6d4;
    position: relative;
    -webkit-animation: upDownLoader 0.5s cubic-bezier(0, 0, 0, 0) infinite;
            animation: upDownLoader 0.5s cubic-bezier(0, 0, 0, 0) infinite; }
    #load span:first-child {
      margin-left: 0; }
    #load span:nth-child(1) {
      -webkit-animation-delay: 0.0s;
      animation-delay: 0.0s; }
    #load span:nth-child(2) {
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s; }
    #load span:nth-child(3) {
      -webkit-animation-delay: 0.15s;
      animation-delay: 0.15s; }
    #load span:nth-child(4) {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s; }
    #load span:nth-child(5) {
      -webkit-animation-delay: 0.25s;
      animation-delay: 0.25s; }
  #load p {
    position: relative;
    width: 100%;
    text-align: center;
    color: #333740;
    padding-top: 2rem; }

@-webkit-keyframes upDownLoader {
  0% {
    bottom: 0; }

  50% {
    bottom: 10px; }

  100% {
    bottom: 0; } }

@keyframes upDownLoader {
  0% {
    bottom: 0; }

  50% {
    bottom: 10px; }

  100% {
    bottom: 0; } }
@-webkit-keyframes laoder {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes laoder {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
            transform: rotate(0deg) translate(-50%, -50%); }

  99% {
    -webkit-transform: rotate(360deg) translate(-50%, -50%);
            transform: rotate(360deg) translate(-50%, -50%); }

  100% {
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
            transform: rotate(0deg) translate(-50%, -50%); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
            transform: rotate(0deg) translate(-50%, -50%); }

  99% {
    -webkit-transform: rotate(360deg) translate(-50%, -50%);
            transform: rotate(360deg) translate(-50%, -50%); }

  100% {
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
            transform: rotate(0deg) translate(-50%, -50%); } }
/* end */
