$blueOne: #96c6d4;
$blueTwo : #68c4e7;
$blueThree : #3dbbec;
$blueFour : #2986be;
$blueFive : #144a8c;
$dkBlue : #3b4b52;
$ltGrey : #ebeced;
$grey : #cccccc;
$dkGrey : #333740;
$black : #000006;


@mixin bgcM { 
	background-color: rgba(250, 250, 250, .85);
}


$max : "max-width:";
@function max($pxSize) {
	@return #{$max} ($pxSize)+px;
}
$min : "min-width:";
@function min($pxSize) {
	@return #{$min} ($pxSize)+px; 
}

$ease : cubic-bezier(0.44, 0.2, 0, 1.01);

@mixin clearfix {
	&::after {
		clear: both;
		display: table;
		content: '';
	}
}
@mixin trans {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
@mixin transX {
	left: 50%;
	transform: translateX(-50%);
}
@mixin transY {
	top: 50%;
	transform: translateY(-50%);
}
@mixin transClear {
	left: auto;
	top: auto;
	transform: translate(0%, 0%);
}
@mixin transXClear {
	left: Auto;
	transform: translate(0%, -50%);
}
@mixin transYClear {
	top: auto;
	transform: translate(-50%, 0%);
}
@mixin before {
	content: '';
	display: block;
	position: absolute;
}
@mixin soundBarGrad {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#939598+50,3dbbec+51 */
	background: #939598; /* Old browsers */
	background: -moz-linear-gradient(top,  #939598 50%, #3dbbec 51%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #939598 50%,#3dbbec 51%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #939598 50%,#3dbbec 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#939598', endColorstr='#3dbbec',GradientType=0 ); /* IE6-9 */
}
@mixin animateGradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#98c6d5+0,3dbbeb+50,144a8c+100 */
	background: #98c6d5; /* Old browsers */
	background: -moz-linear-gradient(top,  #98c6d5 0%, #3dbbeb 50%, #144a8c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #98c6d5 0%,#3dbbeb 50%,#144a8c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #98c6d5 0%,#3dbbeb 50%,#144a8c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98c6d5', endColorstr='#144a8c',GradientType=0 ); /* IE6-9 */
}
.largeText {
	font-size: 30px;
}
$proxima : "proxima-nova", helvetica, sans-serif;
$azo : "azo-sans-web", helvetica, sans-serif;
body {
	letter-spacing: 1px;
	overflow-x: hidden;
	&.loaded {
		#bar_window {
			display: none !important;
		}
	}
}

/* GENERIC STYLES */
.container {
	width: 100%;
	position: relative;
	padding-bottom: 2vh;
	margin-bottom: 3.5vh;
	overflow: hidden;
	& > section {
		padding: 0 2rem;
		margin: 2.5rem 0;
		position: relative;
		@media (max(600)) {
			padding: 0 1rem;
			margin: 1rem 0;
		}
		&:first-child {
			margin-bottom: 0;
		}
		&:first-child, &:nth-child(2) {
			margin-top: 0;
		}
		&:last-of-type {
			margin-bottom: 4rem;
		}
		&.end {
			margin-bottom: 0;
		}
	}
}
.empty {
	.Image_Feature_Text {
		display: none;
	}
}
#content {
	height: auto;
	&:before {
		@include before;
		height: 100%;
		width: 100%;
		position: fixed;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		@include animateGradient;
		z-index: 25;
		pointer-events: none;
		-webkit-mask: url('../img/randomBackgroundAnimationTwo.png') no-repeat;
		-webkit-mask-size: 3000% 100%;
		-webkit-mask-position: 100% 100%;
		animation: maskInMobile 20s steps(29) 0s infinite; 
	    -webkit-animation-fill-mode: forwards;
	    animation-fill-mode: forwards;
	    background-position: left bottom;
	    opacity: .1;
	    transform-origin: center center;
	}
}
@keyframes maskInMobile {
	0% {
		-webkit-mask-position: 0% 0%;
		transform: translate(-50%, -50%)rotate(0deg)scaleX(1);
		filter: none;
		opacity: 0.05;
	}
	10% {
		-webkit-mask-position: 100% 0%;
		transform: translate(-50%, -50%)rotate(0deg)scaleX(1);
		filter: none;
		opacity: 0.05;
	}
	10.1%, 24% {
		transform: translate(-50%, -50%)rotate(0deg)scaleX(-1);
		-webkit-mask-position: 0% 0%;
		filter: FlipH;
		opacity: 0;
	}
	25% {
		transform: translate(-50%, -50%)rotate(0deg)scaleX(-1);
		-webkit-mask-position: 0% 0%;
		filter: FlipH;
		opacity: 0.05;
	}
	35% {
		transform: translate(-50%, -50%)rotate(0deg)scaleX(-1);
		-webkit-mask-position: 100% 0%;
		filter: FlipH;
		opacity: 0.05;
	}
	35.1%, 59% {
		transform: translate(-50%, -50%)rotate(180deg)scaleX(1);
		-webkit-mask-position: 0% 0%;
		filter: none;
		opacity: 0;
	}
	60% {
		transform: translate(-50%, -50%)rotate(180deg)scaleX(1);
		-webkit-mask-position: 0% 0%;
		filter: none;
		opacity: 0.05;
	}
	70% {
		transform: translate(-50%, -50%)rotate(180deg)scaleX(1);
		-webkit-mask-position: 100%% 0%;
		filter: none;
		opacity: 0.05;
	}
	70.1%, 79% {
		transform: translate(-50%, -50%)rotate(180deg)scaleX(-1);
		-webkit-mask-position: 0% 0%;
		filter: FlipH;
		opacity: 0;
	}
	80% {
		transform: translate(-50%, -50%)rotate(180deg)scaleX(-1);
		-webkit-mask-position: 0% 0%;
		filter: FlipH;
		opacity: 0.05;
	}
	90% {
		transform: translate(-50%, -50%)rotate(180deg)scaleX(-1);
		-webkit-mask-position: 100% 0%;
		filter: FlipH;
		opacity: 0.05;
	}
	90.1%, 100% {
		transform: translate(-50%, -50%)rotate(0deg)scaleX(1);
		-webkit-mask-position: 0% 0%;
		filter: none;
		opacity: 0;

	}


}
p {
	text-align: right;
}
/* END GENERIC STYLES */

/* START NAVIGATION */
.kochNav {
	height: 6.25vh;
	background-color: rgba(0, 0, 0, .1);
	position: relative;
	&::before {
		@include before;
		content: 'KII Navigation';
		@include trans;
	}
}
nav {
	opacity: 0; 
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 100vw;
	top: 0;
	pointer-events: none; 
	display: block;
	z-index: 99;
	transition: left .5s $ease;
	&.active {
		opacity: 1;
		pointer-events: initial;
		left: 0;
		.navigationList {
			li {
				left: 0;
			}
		}		
		.navigationSocial {
			bottom: 6.25vh;
			@media (max(600)) {
				bottom: 3rem;
			}
		}
	}
	&::before {
		@include before;
		width: 300%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: black;
		background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/navBackgroundMobile.jpg');
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center center;
		z-index: -1;
	}
}
.navigationList {
	left: 0;
	li {
		left: 100%;
		transition: left .5s $ease;
		position: relative;
		&:last-of-type {
			padding: 0;
			left: 0;
			position: fixed;
			transition: bottom .5s $ease .5s;
		}
		&:nth-child(1) {
			-webkit-transition-delay: .1s;
			-o-transition-delay: .1s;
			transition-delay: .1s;
		}
		&:nth-child(2) {
			transition-delay: .2s;
		}
		&:nth-child(3) {
			transition-delay: .3s; 
		}
	}
	a , p {
		@extend .navTextExtend;
	}
}
.navigationSocial {
	width: 100vw;
	height: 6.25vh;
	bottom: 0vh;
	left: 0;
	@include clearfix;
	border-top: 1px solid $blueOne;
	a {
		padding: 1rem;
		width: calc(100%/3);
		height: 100%;
		border-right: 1px solid $blueOne;
		position: relative;
		display: block;
		float: left;
		&:last-of-type {
			border-right: none;
		}
	}
	svg {
		fill: white;
		position: absolute;
		width: 30px;
		height: 30px;
		@include trans; 
	}
}
.navigationList, #chapter, .sectionLevel {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 93.75vh;
	transition: right .5s $ease, left .5s $ease;
	@media (max(600)) {
		height: 85vh;
	}
	li {
		list-style-type: none;
	}
}
.navigationList, #chapter {
	& > li {
		padding: 1rem;
		border-bottom: 1px solid $dkGrey;
		font-size: 1.65rem;
		text-transform: uppercase;
		& > div {
			@include clearfix;
			* {
				float: left;
			}
		}
	}
}
.chapterLevel {
	position: relative;
}
.chapterLevel > div {
	position: relative;
	padding-left: calc(30px + 1rem);
	display: inline-block;
	h2 {
		@extend .navTextExtend;
	}
	p {
		@include transY;
		color: $blueOne;
		position: absolute;
	}
	p:first-of-type {
		@extend .navCircleNumberExtend;
	}
	p:last-of-type {
		padding-left: 1rem;
		display: inline-block;
		width: 100%;
		text-align: left;
	}
}
.sectionLevel {
	padding: 0 1rem;
	a {
		padding: 1rem 0;
		padding-left: calc(30px + 1rem);
		border-bottom: 1px solid $dkGrey;
		font-size: 1.65rem;
		text-transform: uppercase;
		@include clearfix;
		color: white;
		display: block;
		position: relative;
	} 
	p:first-of-type {
		display: none;
	}
	p:last-of-type {
		@extend .navCircleNumberExtend;
		position: absolute;
		@include transY;
	}
	h3 {
		@extend .navTextExtend;
	}
}
#chapter, .sectionLevel {
	right: -100%;
	li {
		right: -100%;
		transition: right .5s $ease;
		&:nth-child(1) {
			-webkit-transition-delay: .1s;
			-o-transition-delay: .1s;
			transition-delay: .1s;
		}
		&:nth-child(2) {
		-webkit-transition-delay: .2s;
		-o-transition-delay: .2s;
		transition-delay: .2s;
		}
		&:nth-child(3) {
		-webkit-transition-delay: .3s;
		-o-transition-delay: .3s;
		transition-delay: .3s;
		}
		&:nth-child(4) {
		-webkit-transition-delay: .4s;
		-o-transition-delay: .4s;
		transition-delay: .4s;
		}
		&:nth-child(5) {
		-webkit-transition-delay: .5s;
		-o-transition-delay: .5s;
		transition-delay: .5s;
		}
	}
}
.navTextExtend {
	font-size: 1.65rem;
	letter-spacing: 3px;
	color: white;
	text-align: left;
	@media (max(600)) {
		font-size: 1.25rem;
	}
}
.navCircleNumberExtend {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 1px solid $ltGrey;
	left: 0;
	text-align: center;
	line-height: 28px;
}
nav.active {
	&.Chapters {
		.navigationList {
			left: -100%;
		}
		#chapter {
			right: 0;
			& > li {
				right: 0;
			}
		}
	}
	&.Sections {
		#chapter {
			right: 100%;
		}
		.chapterLevel.active {
			.sectionLevel {
				right: 0;
				& > li {
					right: 0!important;
					position: relative;
				}
			}
		}
	}
}
.breadcrumbsMobile {
	position: fixed;
	top: 0;
	left: 0;
	height: 6.25vh;
	width: 100vw;
	@include clearfix;
	line-height: 6.25vh;
	padding: 0 1rem;
	text-transform: uppercase;
	letter-spacing: 3px;
	@media (max(600)) {
		top: 1.5rem;
	}
	span {
		color: $grey;
		margin: 0 1rem;
		padding-left: 1rem;
		float: left;
		position: relative;
		cursor: pointer;
		transition: color .05s $ease, left .5s $ease, opacity .5s $ease;
		&::before {
			@include before;
			background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/scrollToNavBlue.svg');
			background-repeat: no-repeat;
			-webkit-background-size: 100% 100%;
			background-size: 100% 100%;
			background-position: center center;
			height: 10px;
			width: 10px;
			top: 50%;
			left: 0;
			-webkit-transform: rotate(180deg)translateY(-50%);
			-ms-transform: rotate(180deg)translateY(-50%);
			-o-transform: rotate(180deg)translateY(-50%);
			transform: rotate(180deg)translateY(-50%); 
			-webkit-transform-origin: 0 0;
			-moz-transform-origin: 0 0;
			-ms-transform-origin: 0 0;
			-o-transform-origin: 0 0;
			transform-origin: 0 0;
		}
		&:nth-child(1) {
			color: $blueOne;
		}
		&:nth-child(2) {
			opacity: 0;
			pointer-events: none;
		}
		&:nth-child(3) {
			opacity: 0;
			pointer-events: none;
		}
	}
	&.levelOne {
		span {
			&:nth-child(1) {
				left: 0;
				opacity: 1;
				color: $grey;
			}
			&:nth-child(2) {
				color: $blueOne;
				opacity: 1;
				pointer-events: initial;
			}
			&:nth-child(3) {
				opacity: 0;
			}
		}
	}
	&.levelTwo {
		span {
			&:nth-child(1) {
				left: -100%;
				opacity: 0;
				display: none;
			}
			&:nth-child(2) {
				color: $blueOne;
				left: 0;
			}
			&:nth-child(3) {
				opacity: 1;
				left: 0;
			}
		}
	}
}
.back, .breadcrumbs {
	display: none;
}
// end
.miniTimeline {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background-color: #fff;
	height: 6.25vh;
    min-height: 3rem;
}
.miniTimelineNavPerm {
	@include clearfix;
	position: absolute;
	@include transY;
	width: 100%;
}
.miniTimelineTitle {
	position: absolute;
	left: .5rem;
	@include transY;
	h1 {
		font-size: .875rem;
		letter-spacing: 0px;
		text-transform: uppercase;
		@media (max(480)) {
			text-transform: none;
			font-size: .75rem;
		}
		span {
			font-weight: 100;
		}
	}
}
/* START TIMELINE SOUND BARS AND ANIMATIONS */
.miniTimelineAction {
    @include transY;
    position: absolute;
    right: 0;
    @include clearfix;
    height: 6.25vh;
    & > div {
    	margin-right: 1rem;
    	&:last-child {
    		margin-right: 1rem;
    	}
    }
}
.miniTimelineSound {
	// margin-right: 1rem;
	float: left;
	@include clearfix;
	position: relative;
	@include transY;
	height: 6.25vh;
	div, p {
		float: left;
	}
	div {
		@include transY;
	}
	p {
		padding-right: .5rem;
	}
}
.miniTimelineNav, .miniTimelineSound {
	p {
		@include transY;
		line-height: 1;
		position: relative;
		display: none;
	}
}
.miniTimelineNav { 
	position: relative;
	display: block;
	float: left;
	top: 0px;
	height: 6.25vh;
	&::before {
		@include before;
		width: 1px;
		height: 150%;
		left: -1rem;
		position: absolute;
		top: 50%;
		transform: translateY(-30%);
		background-color: $ltGrey;
		@media (max(480)) {
			display: none;
		}
	}
	div, p {
		float: right;
	}
	p {
		padding-left: .5rem;
	}
	div {
		width: 20px;
		height: 18px;
		display: block;
		position: relative;
		@include transY;
		span {
			position: absolute;
			height: 2px;
			width: 100%;
			display: block;
			background-color: rgba(0, 0, 0, .5);
			@include trans;
			transition: opacity .1s $ease, background-color $ease .5s;
			&:nth-child(1) {
				animation: hamburgerInitTopOut .5s $ease forwards;
			}
			&:nth-child(2) {
				@include trans;
			}
			&:nth-child(3) {
				animation: hamburgerInitBottomOut .5s $ease forwards;
			}
		}
	}
	&.active {
		div {
			span {
				top: 50%;
				&:nth-child(1) {
					animation: hamburgerInitTop .5s $ease forwards;
					background-color: $blueOne;
				}
				&:nth-child(2) {
					opacity: 0;
					transition-delay: .3s;
				}
				&:nth-child(3) {
					background-color: $blueOne;
					animation: hamburgerInitBottom .5s $ease forwards;
				}
			}
		}
	}
}
@keyframes hamburgerInitTopOut {
	0% {
		top: 50%;
		transform: translate(-50%, -50%)rotate(45deg);
	}
	50% {
		top:50%;
		transform: translate(-50%, -50%)rotate(0);
	}
	100% {
		top: 0;
		transform: translate(-50%, -50%)rotate(0);
	}
}
@keyframes hamburgerInitTop {
	0% {
		top: 0;
		transform: translate(-50%, -50%)rotate(0);
	}
	50% {
		top:50%;
		transform: translate(-50%, -50%)rotate(0);
	}
	100% {
		top: 50%;
		transform: translate(-50%, -50%)rotate(45deg);
	}
}
@keyframes hamburgerInitBottomOut {
	0% {
		top: 50%;
		transform: translate(-50%, -50%)rotate(-45deg);
	}
	50% {
		top: 50%;
		transform: translate(-50%, -50%)rotate(0);
	}
	100% {
		top: 100%;
		transform: translate(-50%, -50%)rotate(0deg);
	}
}
@keyframes hamburgerInitBottom {
	0% {
		top: 100%;
		transform: translate(-50%, -50%)rotate(0);
	}
	50% {
		top:50%;
		transform: translate(-50%, -50%)rotate(0);
	}
	100% {
		top: 50%;
		transform: translate(-50%, -50%)rotate(-45deg);
	}
}
.miniTimelineSections {
	position: absolute;
	height: 6.25vh;
	@include trans;
	&::before {
		@include before;
		height: 1px;
		width: 100%;
		@include trans;
		background-color: $grey;
		z-index: -1;
	}
	a {
		width: 30px;
		height: 30px;
		float: left;
		position: relative;
		border-radius: 50%;
		@include transY;
		margin: 0 1rem;
		background-color: #fff;
		border-radius: 50%;
		@media (max(480)) {
			width: 20px;
			height: 20px;
			margin: 0 0.5rem;
		}
		&::before, &::after {
			@include before;
		}
		&::after {
			height: 5px;
			width: 5px;
			position: absolute;
			@include trans;
			background-color: $grey;
			border-radius: 50%;
			transition: height .5s cubic-bezier(0.44, 0.2, 0, 1.01), width .5s cubic-bezier(0.44, 0.2, 0, 1.01), background-color .5s cubic-bezier(0.44, 0.2, 0, 1.01);
			z-index: 1;
		}
		&::before {
			height: 60%;
			width: 60%;
			@include trans;
			border: 1px solid $grey;
			border-radius: 50%;
			transition: border-color .5s cubic-bezier(0.44, 0.2, 0, 1.01);
		}
		&.active {
			&::after {
				height: 50%;
				width: 50%;
				background-color: $blueOne;	
			}
			&::before {
				border-color: $blueOne;
			}
		}
	}
}
/* END NAVIGATION */
/* START LANDING PAGE */
.landingPageText {
}
.landingPageSlideText {
	height: 17.5vh;
	h1 {
		text-align: center;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}
	ul, p {
		display: none;
	}
	&.active {
		h1 {
			text-align: center;
			opacity: 0;
		}
		ul, p {
			display: block;
		}		
	}
}
.landingPageSlideTextWrapper {
	position: relative;
	height: 100%;
	li {
		margin: 0 auto;
		width: 100%!important;
	}
	a { 
		@include clearfix;
		text-align: center;
		@include transX;
		position: relative;
		display: inline-block;
		span, h5 {
			float: left;
		}
	}
	p {
		text-align: center;
	}
	h1 {}
}
/* END LANDING PAGE */
/* START MOBILE MODULES */
	/* INTRODUCTION */
.sectionIntro {
	height: 87.5vh;
    background-size: cover;
    background-position: bottom left;
    background-repeat: no-repeat;
    position: relative;
    @media (max(600)) {
    	height: 85vh;
    }
}
.whiteHeader {
	.sectionTitle {
		h1 {
			color: white;
		}
	}
	.chapterName {
		color: white;
	}
	.scrollToNav {
		color: white;
	}
}
.sectionTitle {
	position: absolute;
	bottom: 10vh;
	left: 2rem;
	width: 33%;
	@media (max(600)) {
		width: 80%;
		left: 1rem;
	}
    div {
		display: inline-block;
    }
    p {
    	display: block;
    	text-align: center;
    }
    h1 {
    	color: $dkGrey;
    	font-size: 2rem;
    }
}
.sectionYear {
	width: 4rem;
	height: 4rem;
	background-color: $blueOne;
	border-radius: 50%;
	color: white;
	text-align: center;
	line-height: 4rem;
}
.chapterName {
    width: auto;
    color: white;
    text-align: left;
    padding: .5rem 0;
    color: $dkGrey;
}
	/* end */
	/* START SCROLL TO NAV */
.scrollToNav {
    width: 100%;
    padding: 1rem 0;
    margin-top: 1rem;
    color: $dkGrey;
    text-align: left;
    border-top: 7px solid $blueOne;
    position: absolute;
    bottom: 0;
    @include transX;
    width: calc(100% - 4rem);
    @media (max(600)) {
    	width: calc(100% - 2rem);
    }
    p {
    	text-align: left;
    }
}
	/* end */
	/* SECTION DESCRIPTION */
.Section_Description {
	position: relative;
	width: 100%;
	@include clearfix;
	padding-top: 2rem!important;
	h1 {
		@extend .largeText;
	}
	p {
		width: 85%;
		text-align: left;
		float: left;
		padding-bottom: 1rem;
		@media (max(600)) {
			width: 100%;
		}
		&:last-of-type {
			padding-bottom: 1.5rem;
		}
	}
	img {
		position: relative;
		width: 100%;
		top: 0;
		padding-top: 1.5rem;
		border-top: 1px solid $ltGrey;
	}
	.date {
		p {
			text-align: left;
			font-size: 1.25rem;
			padding-bottom: 1rem;
			padding-top: 1.25rem;
		}
	}
	.descriptionDate {
		padding: 1rem 0;
	}
}
	/* end */
	/* DRAGGABLEMAP  */
.draggableMap {
	height: 85vh;
	position: relative;
	overflow: hidden;
	pointer-events: none;
	& > img {
		display: block;
		position: absolute;
		z-index: 50;
		@include trans;
		width: 105%;
		height: 105%;
		pointer-events: none;
	}
	svg {
		pointer-events: initial;
		left: -150%;
		top: -25%;
		transform: translate(0, 0);
		position: absolute;
		width: 450%;
		transition: transform $ease .3s;
		@media (max(600)) {
			width: 1000%; 
			left: -430%;
			top: -75%;
		}
	}
}
.mapClickArea {
	fill: transparent;
}
#journey > g.active .pointNonActive {
	display: none;
}
.pointActive {
	display: none;
	opacity: 0;
	transition: opacity .5s $ease;
}
.pointActive .text {
	transform: translateY(-100%);
	opacity: 0;
	transition: transform .5s $ease, opacity .5s $ease;
	-webkit-transition-delay: .5s;
	-o-transition-delay: .5s;
	transition-delay: .5s;
}
#journey  > g.active .pointActive {
	display: block;
	opacity: 1;
}
#journey > g.active .pointActive .text {
	transform: translateY(0%);
	opacity: 1;
}
.mapStatistics {
	position: absolute;
	z-index: 5;
	left: 0;
	bottom: 0;
	height: auto;
	display: block;
	width: 100%;
	text-align: left;
	pointer-events: none;
	div {
		position: absolute;
		bottom: 0;
		left: 0;
		visibility: hidden;
		opacity: 0;
		// width: 100%;
		transition: opacity .5s $ease;
		&.active {
			opacity: 1;
			visibility: visible;
			z-index: 2;
			li {
				div {
					&:nth-child(3) {
						width: 50%;
					}
					&:nth-child(4) {
						width: 35%;
					}
				}
			}
		}
	}
	& > div {
		padding: 1rem;
	}
	h1 {
		padding-right: 50%;
		text-align: left;
		span {
			display: block;
			font-size: 28px;
		}
	}
	p {
		// width: 100%;
		// padding-left: 52%;
		padding-top: 1rem;
		text-align: left;
		max-width: 500px;
	}
	li {
		list-style: none;
		text-transform: uppercase;
		@include clearfix;
		position: relative;
		padding-bottom: 1rem;
		h3 {
			font-size: 28px;
			color: $blueOne;
			text-align: left;
			// width: 50%;
			padding-top: 0;
		}
		p {
			// width: 50%;
			padding: 0;
			text-align: left;
			color: $dkBlue;
			font-size: 12px; 
			padding-bottom: .5rem;
			span {
				display: block;
				color: $grey;
				font-size: 10px;
			}
		}
		div {
			height: 7px;
			width: 0%;
			display: block;
			position: relative;
			top: auto;
			left: 0%;
			visibility: visible;
			opacity: 1;
			transition: width 1s $ease;
			transition-delay: .5s;
			&:nth-child(3) {
				bottom: 0;
				background-color: $blueOne;
			}
			&:nth-child(4) {
				bottom: 20%;
				background-color: $dkBlue;
			}
		}
	}
}
.statistic > p {
	z-index: 99;
	pointer-events: initial;
}
.mapTexture {
	pointer-events: none;
	background: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/NetherlandsToTexas/mapBackgroundMobile.jpg') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
picture {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 5;
}
	/* end */
	/* VIDEO MODULE ONE */
.Video_Feature_1 {
	&::before {
		@include before;
		@include trans;
		width: 100%;
		height: 100%;
		background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/Video_One_Foreground_Mobile.png');
		background-position: center center;
		-webkit-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		pointer-events: none;
		z-index: 1;
		opacity: .25;
	}
	iframe {
		width: 100%;
		position: relative;
	}
	div {
		padding-top: 2rem;
	}
}
.Video_Feature_2 {
	padding: 0!important;
	iframe {
		width: 100%;
		position: relative;
	}
	div {
		padding-right: 2rem;
		padding-top: 2rem;
		@media (max(600)) {
			padding-top: 1rem;
		}
	}
}
.Video_Feature_Text {
	position: relative;
	z-index: 2;
	h1 {
		text-align: right;	
	}
	.date {
		padding-bottom: 2rem;
		@media (max(600)) {
			padding-bottom: 1rem;
		}
	}
	p:last-of-type {
		text-align: right;
		width: 85%;
		max-width: 500px;
		float: right;
		padding-bottom: 1.5rem;
	}
}
	/* end */
	/* IMAGE MODULE ONE */
.Image_Feature_1 {
	overflow: hidden;
	img {
		width: auto;
		height: 100%;
		position: relative;
		@include transX;
	}
	.Image_Feature_Text {
		width: 100%;
		max-width: 450px;
		text-align: left;
		position: absolute;
		@include transX;
		bottom: 0;
		z-index: 1;
		@media (max(600)) {
			width: 80%;
		}
		@media (max(480)) {
			max-width: 330px;
		}
		h1 {
			@extend .largeText;
			color: white;
		}
		div {
			padding: 2rem;
			padding-bottom: 6rem;
			background-color: white;
			@media (max(600)) {
				@include bgcM;
				padding: 1rem;
			}
		}
		p{
			text-align: left;
		}
	}
}
	/* end */
	/* IMAGE MODULE TWO */
.Image_Feature_2 {
	position: relative;
	padding: 0rem!important;
	img {
		position: relative;
		width: 100%;
	}
	.Image_Module_2_text {
		background-color: #fff;
		position: absolute;
		bottom: 0;
		right: 1rem;
		width: 100%;
		max-width: 400px;
		padding: 1.5rem;
		img {
			width: 100%;
			max-width: 400px;
			padding-top: 1rem;
		}
	}
	& > div {
		position: absolute;
		right: 0;
		bottom: 20%;
		width: 100%;
		max-width: 400px;
		height: auto;
		z-index: 1;
		@media (max(600)) {
			width: 80%;
			bottom: 0;
		}
		div {
			background-color: white;
			padding: 2rem;
			padding-bottom: 6rem;
			@media (max(600)) {
				padding: 1rem;
				@include bgcM;
			}
		}
	}
}
	/* end */
	/* START YEAR TEXT ONE */
.Year_Text_1 {
	margin: 17vh 0 10vh!important;
	@media (max(600)) {
		margin: 12vh 0 6vh!important;
	}
	h1 {
		position: absolute;
		top: 1rem;
		font-size: 1.5rem;
		&::before {
			@include before;
			position: absolute;
			height: 7px;
			background-color: $blueOne;
			position: absolute;
			left: 0;
			bottom: -10px;
			width: 200px;
		}
	}
	.date {
		font-size: 40vw;
		font-weight: 800;
		letter-spacing: 0px;
		line-height: .45;
		position: relative;
		color: transparentize($blueOne, .65);
	}
	p {
		width: 40%;
		margin-top: 3rem;
		text-align: left;
		@media (max(600)) {
			width: 80%;
			margin-top: 1.5rem;
		}
	}
}
/* END YEAR TEXT ONE */
	/* YEAR TEXT TWO */
// .Year_Text_1 {
// 	padding: 5rem 0;
// 	max-width: 600px;
// 	h1 {
// 		top: 20px;
// 		text-transform: uppercase;
// 		border-bottom: 7px solid $blueOne;
// 		font-size: 1.5rem;
// 		padding-bottom: 2rem;
// 		margin-bottom: 1rem;
// 	}
// 	span {
// 		font-size: 160px;
// 		font-weight: 800;
// 		color: $blueOne;
// 		position: relative;
// 		line-height: 0;	
// 		top: 40px;
// 		z-index: -1;
// 	}
// 	p {
// 		text-align: left;
// 	}
// }
	/* end */
	/* START TEXT MODULE WHITE */
.Text_Module_White {
	h1 {
		@extend .largeText;
		text-align: right;
	}
	&.ranching {
		& > div {
			padding: 2rem;
			position: absolute;
			top: -33vh;
			width: 100%;
			max-width: 480px;
			color: white;
			@media (max(480)) {
				top: -75vh;
				@include transX;
			}
			div {
				background-color: rgba(250, 250, 250, .5);
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				top: 0;
				&:first-of-type {
					left: -100%;
				}
				&:last-of-type {
					right: -100%;
				}
			}
		}
	}
	&.rockIsland {
		& > div {
			padding: 2rem;
			position: absolute;
			top: 50vh;
			width: 100%;
			max-width: 480px;
			color: white;
			@media (max(480)) {
				top: 0;
				@include transX;
			}
			div {
				background-color: rgba(250, 250, 250, .5);
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				top: 0;
				&:first-of-type {
					left: -100%;
				}
				&:last-of-type {
					right: -100%;
				}
			}
		}
	}
}
.Text_Module_Black {
	h1 {
		text-align: right;
	}
	&.sterlingBio {
		@media (max(480)) {
			margin-bottom: 0;
		}
		& > div {
			padding: 2rem;
			position: absolute;
			width: 33%;
			max-width: 480px;
			@media (max(480)) {
				position: relative;
				width: 100%;
				max-width: 100%;
				padding: 0;
			}
		} 
	}
}
	/* END TEXT MODULE WHITE */
/* START QUOTEONE */
.Quote_1 {
	img {
		position: absolute;
		@include trans;
		opacity: .5;
	}
	h1:first-of-type {
		display: none;
	}
	.date {
		display: none;
	}
	h1 {
		position: relative;
		z-index: 1;
		font-size: 3.5rem;
		text-align: center;
		@media (max(480)) {
			font-size: 2.5rem;
		}
	}
	h1 span {
		color: $blueOne;
		display: block;
	}
}
/* END QUOTEONE */
.Quote_2 {
	padding: 0!important;
	@media (max(600)) {
		height: 100vh;
		overflow: hidden;
	}
	.quoteText {
		padding: 1rem 0;
		position: absolute;
		@include trans;
		width: 100%;
		max-width: 650px;
		padding: 0 2rem;
		@media (max(600)) {
			z-index: 2;
		}
		&::before, &::after {
			@include before;
			width: 33%;
			min-width: 200px;
			height: 7px;
			background-color: $blueOne;
			@include transX;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			color: $blueOne;
			line-height: 1;
			font-weight: 800;
			font-size: 2rem;
		}
		p:last-of-type {
			@media (max(600)) {
				font-size: 20px;
				font-weight: 800;
			}
		}
	}
	img {
		@media (max(600)) {
			width: 175%;
			position: absolute;
			@include trans;
		}
	}
}
	/* end */
	/* START QUOTE THREE */
.Quote_3 {
	padding: 0!important;
	overflow: hidden;
	.Quote_3_Text {
		background-color: #fff;
		padding: 1.5rem;
		position: absolute;
		width: 100%;
		@include trans;
		max-width: 450px;
		z-index: 1;
		@media (max(480)) {
			max-width: 280px;
			p {
				font-size: .875rem;
				line-height: 1.2;
			}			
		}
	}
	img {
		width: 125%;
		position: relative;
		@include transX;
	}
}
	/* end */
	/* START IMAGE SHOWCASEONE */
.Image_Showcase_1 {
	ul {
		width: 100%;
		@include clearfix;
		float: right;
		padding-top: 1.5rem;
	}
	li {
		float: left;
		width: 150px;
		padding: 0 .5rem;
		img {
			width: 100%;
		}
	}
}
.Image_Showcase_1_Options {
	@include clearfix;
	border-right: 7px solid $blueOne;
	padding-right: 1rem;
	margin-top: 2rem;
	overflow: hidden;
	margin-bottom: 10vh;
	@include clearfix;
	p {
		width: 80%;
		float: right;
	}
}
.showcaseOneDescription {
	padding-bottom: 2rem;
}
.lightBox {
    position: fixed;
    @include transY;
    top: 47.5%;
    right: -100%;
    width: 95vw;
    height: 85vh;
    background-color: white;
    z-index: 100;
    box-shadow: 0px 0px 400px rgb(171, 171, 171);
    transition: right .5s $ease, opacity .5s $ease;
    opacity: 0;
    padding: 1rem;
    text-align: left;
    @media (max(600)) {
    	box-shadow: 0px 0px 400px rgb(0, 0, 0);
    }
    .lightboxNav, .close {
    	display: none;
    }
    &.active {
    	opacity: 1;
    	right: 0;
    }
    img {
    	width: 100%;
    	max-width: 400px;
    	@include transX;
    	position: relative;
    	margin: 2rem 0;
    	@media (max(600)) {
    		margin: 1rem 0;
    	}
    }
    div:first-of-type {
		h1 {
			@extend .largeText;
		}
		.date {
			text-align: left;
		}
		padding-bottom: 1rem;
    }
    .description {
    	width: 85%;
    	max-width: 500px;
    	text-align: left;
    }
}
.Lightbox_Nav {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: $dkBlue;
	width: 100%;
	border-top: 1px solid $ltGrey;
	@include clearfix;
	padding: 1rem;
	z-index: 2;
	div {
		width: 30px;
		height: 30px;
		display: block;
		float: left;
		margin-right: 1rem;
		border-radius: 50%;
		position: relative;
		cursor: pointer;
	}
	.Lightbox_Close {
		background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/expandImage.svg');
		background-position: center center;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
		transform: rotate(45deg);
	}
	.Lightbox_Previous, .Lightbox_Next {
		background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/scrollToNav.svg');
		background-position: center center;
		-webkit-background-size: 45% 45%;
		background-size: 45% 45%;
		background-repeat: no-repeat;
		border: 1px solid white;
	}
	.Lightbox_Previous {
		transform: rotate(180deg);	
	}
}
	/* end */
	/* start imageShowcase */
.Image_Showcase_2 {
}
.Image_Showcase_2_Options {
	@include clearfix;
	h1 {
		@extend .largeText;
	}
}
.Image_Showcase_2_Text {
	width: 100%;
	padding-left: 15%;
	float: right;
	h1 {
		text-align: right;
	}
	img {
		display: none;
	}

}
.Image_Showcase_2_Images {
	@include clearfix;
	li {
		float: right;
		width: 100px;
		padding: 1rem .5rem;
		img {
			width: 100%;
		}
	}
}
.Image_Showcase_2_Lightbox {
	img {
		max-width: 100%;
	}
}
	/* end */
/* IMAGE CAPTION ONE */
.Image_Caption_One {
	@include clearfix;
	padding: 0!important;
	img {
		width: 100%;
	}
	.caption {
		background-color: #fff;
		padding: 2rem;
		width: 100%;
		max-width: 200px;
		position: absolute;
		right: 0;
		bottom: 2rem;
		@media (max(600)) {
			bottom: 0;
			max-width: 100%;
			padding: 1rem;
			@include bgcM;
		}
	}
	div, img {
		float: left;
	}
}
/* END IMAGE CAPTION ONE */
	/* START PREVIOUS AND NEXT SECTION */
.nextSection, .prevSection {
	position: relative;
	bottom: 6.25vh;
	height: 5vh;
	color: white;
	width: 50%;
	float: right;
	color: white;
	z-index: 10;
	@media (max(600)) {
		bottom: 3rem;
		min-height: 3rem;
	}
}
.nextSection {
	background-color: $blueOne;
}
.prevSection {
	background-color: #84B2BF;
}
.nextSectionHover {
	display: none;
}
.nextSection {
	right: 0;
	border-left: 1px solid white;
	text-align: right;
	padding-right: 1rem;
	@media (max(600)) {
		padding-right: 0;
	}
	a {
		@media (max(600)) {
			padding-right: 1rem;
		}
		width: 100%;
		height: 100%;
		position: relative;
		display: block;
		color: white;
	}
	.number {
		position: absolute;
		left: 1rem;
		@include transY;
		@media (max(600)) {
			font-size: .65rem;	
			left: .5rem;
		}
	}
	.nextTitle {
		position: absolute;
		right: 2.5rem;
		@include transY;
		color: white;
		@media (max(600)) {
			right: 20px;
			font-size: .65rem
		}
		span {
			&:first-of-type {
				@media (max(600)) {
					display: none;
				}
			}
		}
	}
	.sideNavArrow {
		background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/scrollToNav.svg');
		background-repeat: no-repeat;
		-webkit-background-size: 25%;
		background-size: 25%;
		background-position: center center;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		border: 1px solid white;
		display: inline-block;
		position: absolute;
		@include transY;
		right: -2.5rem;
		@media (max(600)) {
			width: 20px;
			height: 20px;
			border: none;
			-webkit-background-size: 45%;
			background-size: 45%;
			right: -20px;
		}
	}
}
.prevSection {
	left: 0;
	text-align: left;
	padding-left: 1rem;
	@media (max(600)) {
		padding-left: 0;
	}
	a {
		@media (max(600)) {
			padding-left: 1rem;
		}
		width: 100%;
		height: 100%;
		position: relative;
		display: block;
		color: white;
	}
	.number {
		position: absolute;
		right: 1rem;
		@include transY;
		@media (max(600)) {
			font-size: .65rem;	
			right: .5rem;
		}
	}
	.prevTitle {
		position: absolute;
		left: 2.5rem;
		@include transY;
		color: white;
		@media (max(600)) {
			left: 20px;
			font-size: .65rem;
		}
		span {
			&:first-of-type {
				@media (max(600)) {
					display: none;
				}
			}
		}
	}
	.sideNavArrow {
		background-image: url('http://kochindsandbox.kochdev.com/KochSandbox/media/kochTimeline/scrollToNav.svg');
		background-repeat: no-repeat;
		transform: rotate(180deg);
		-webkit-background-size: 25%;
		background-size: 25%;
		background-position: center center;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		border: 1px solid white;
		display: inline-block;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%)rotate(180deg);
		-ms-transform: translateY(-50%)rotate(180deg);
		-o-transform: translateY(-50%)rotate(180deg);
		transform: translateY(-50%)rotate(180deg);
		left: -2.5rem;
		@media (max(600)) {
			width: 20px;
			height: 20px;
			border: none;
			-webkit-background-size: 45%;
			background-size: 45%;
			left: -20px;
		}
	}
}
.nextSection, .prevSection {
	&.inactive {
		background-color: $ltGrey;
		a {
			display: none;
		}
	}
}
.nextSectionEnd {
	display: none;
}
	/* end */
/* end */
// START CUSTOM BIOS
	/* CUSTOM BIOS START */
.Custom_Biography {
	@media (max(600)) {
		margin: 3rem 0 !important;
	}
	img {
		width: 100%;
	}
	.bioItem {
		position: absolute;
		top: 0;
		left: 0;
		div {
			width: 150px;
			&:first-of-type {
				width: 100px;
				padding-bottom: 1rem;
			}
		}
		h3 {
			padding-bottom: .5rem;
		}
		p {
			text-align: left;
		}
	}
	.lightboxText {
		h1 {
			@media (max(600)) {
				font-size: 20px!important;
			}
		}
		span {
			@media (max(600)) {
				font-size: 1rem;	
			}
		}
	}
	/* THE THESIS */
}
#TheThesis {
	.Custom_Biography {
		@media (max(600)) {
			margin-bottom: 6rem !important;
		}
		.one {
			top: 50%;
			left: 10%;
		}
		.two {
			left: 60%;
			top: 60%;
		}	
	}
}
#CharlesdeGanahl {
	.Custom_Biography {
		.one {
			top: 50%;
			left: 10%;
		}
		.two {
			left: 60%;
			top: 60%;
		}	
	}
}
#SterlingVarner {
	.Custom_Biography {
		@media (max(480)) {
			padding: 0;
			margin: 0;
		}
	}
	.Image_Feature_1 {
		img {
			width: 100%;
		}
	}
}
.mobileAccelerometer {
	@media (max(600)) {
		height: 100vh;
		margin: 0;
		overflow: hidden;
		img {
			@include trans;
			width: auto;
			position: absolute;
			height: auto;
			min-height: 120%;
		}
	}
}
	/* end */